.course-information {
  margin-bottom: 30px;

  .description {
    .course-title {
      margin-bottom: 0px;
      padding-bottom: 27px;
    }

    p {
      margin-bottom: 26px;
    }

    .more-btn {
      border-radius: 5px;
      background-color: #24a1ed;
      color: #fff;
      font-size: 14px;
      padding: 8px 30px;
      border: 0;
      display: inherit;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
