.course-detail-container {
  margin-top: 40px;

  .border {
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #bbc8de;
    background-color: #ffffff;
  }

  .form-border {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    border-bottom: solid 1px #bbc8de;
    background-color: #ffffff;
  }

  .course-title {
    color: #4d658b;
    font-weight: bold;
  }

  .course-information .description,
  .rating .rating-content {
    padding: 7px 30px 21px 30px;
    width: 100%;
  }

  .basic-information {
    .course-title {
      margin-top: 8px;
      padding-bottom: 21px;
    }

    .course-content {
      .description {
        padding-bottom: 0;

        .course-title {
          padding-bottom: 13px;
        }
      }
    }

    .register {
      .sticky-top {
        top: 65px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        z-index: 100;
        border-radius: 5px;
      }
    }
  }
}