.banner-new {
    height: 250px;
    background-color: #0091ea;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .banner-route {
      font-size: 14px;
      color: #fff;
    }
  }