@import 'global/styles.scss';

.login-container {
    margin: 66px 220px 0 213px;
    display: flex;
    flex-direction: column;

    .login-row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        color: $font-color-primary;
        font-size: 16px;

        &.header {
            .title {
                font-weight: bold;
            }

            .text {
                color: #fd3636;
            }
        }

        .note-text {
            color: #758cb1;
            font-size: 18px;
            margin-top: 25px;
            margin-bottom: 40px;
        }

        &.content {
            display: flex;
            flex-direction: row;


            .content-left {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 370px;

                >* {
                    margin-bottom: 30px;
                }

                .label {
                    margin-bottom: 20px;
                }

                .login-btn-list {
                    display: flex;

                    >button {
                        width: 170px;
                        height: 41px;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .icon {
                            width: 25px;
                            height: 25px;
                            margin-right: 12px;
                        }
                    }

                    .facebook-btn {
                        background-color: #2d4b92;
                        margin-right: 10px;
                    }

                    .google-btn {
                        background-color: #e52c2f;
                    }
                }

                .login-input {
                    display: flex;
                    flex-direction: column;

                    input {
                        font-size: 16px;
                        border-radius: 5px;
                        border: solid 1px #e8e8e8;
                        background-color: #f0f0f0;
                        color: #333333;
                        padding: 11px;
                        height: 41px;

                        &::placeholder {
                            color: #333333;
                        }
                    }

                    .name {
                        margin-bottom: 15px;
                    }

                    .password {
                        margin-top: 15px;
                        -webkit-text-security: disc;
                        -moz-text-security: disc;
                    }
                }

                .login-footer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .submit-btn {
                        background-color: #fd3636;
                        color: #fff;
                        width: 170px;
                        height: 41px;
                        border-radius: 29px;
                        font-weight: 300;
                        font-size: 16px;
                    }

                    a {
                        color: #0091ea;
                    }

                    .has-account {
                        color: #333333;
                    }
                }

                .signup-note {
                    font-size: 14px;
                    color: #333333;
                }
            }
        }
    }
}