@import "global/styles.scss";

.edu-test {
  opacity: 0.88;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-bottom: 72px;

  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 78px;
  }

  p {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 45px;
  }

  .test-btn {
    color: #fff;
    width: 179px;
    height: 47px;
    border-radius: 51px;
    border: 1px solid $color-active;
    box-shadow: 0 2px 2px 0 #d36133;
    background-color: $color-active;
    text-transform: uppercase;
    font-size: 14px;
  }
}
