.edu-media {
  padding-bottom: 70px;

  .title-container {
    margin-bottom: 0px;
  }

  .edu-media-video {
    padding-top: 38px;

    .media-brand {
      .image-container {
        border: solid 1px #707070;
        background-color: #ffffff;
        height: 100%;
		padding: 8px 0;
		margin: 1px;
      }
    }

    .edu-video-television {
      margin-top: 40px;
      height: 550px;
      width: 100%;
      margin-right: 15px;
      margin-left: 15px;

      >div {
        height: 100%;
        width: 100%;
      }
    }
  }
}
